<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eda.dao.EdaDAO">


	<!--이번달 카테고리별 지출 총액  -->
	<select id="amountByType" resultType="edaVO" parameterType="String">
		SELECT log_type_key as logTypeKey, category, SUM(amount) as totalAmountByType
		 FROM (SELECT d.log_type_key, l.value as category, amount 
		        FROM dw_card_log d LEFT JOIN log_type l
		         ON d.log_type_key = l.key
		        WHERE account_number= #{accountNumber} AND
		              EXTRACT(YEAR FROM log_date) = EXTRACT(YEAR FROM CURDATE()) AND
		              EXTRACT(MONTH FROM log_date) = EXTRACT(MONTH FROM CURDATE())  AND
		              log_type_key != '1' AND 
		              log_type_key != '2')
		 GROUP BY category, log_type_key
		 ORDER BY totalAmountByType DESC
	</select>


	<!-- 해당 카테고리의 이번 달 내역 -->
	<select id="detailListByCotegory" resultType="depositDetailVO" parameterType="depositDetailVO">
	 SELECT logDate, SUM(amount) as sumAmount, toName
		 FROM(
		     SELECT date_format(log_date, '%Y년 %m월 %d일') as logDate , 
		            amount,
		            to_name as toName
		      FROM dw_card_log 
		      WHERE log_type_key = #{logTypeKey} AND
		            account_number = #{accountNumber} AND
		            EXTRACT(YEAR FROM log_date) = EXTRACT(YEAR FROM CURDATE()) AND
		            EXTRACT(MONTH FROM log_date) = EXTRACT(MONTH FROM CURDATE())  ) 
		 GROUP BY logDate, toName
		 ORDER BY logDate
	</select>
	
	<!-- 해당 카테고리의 저번 달 + 이번 달 내역 -->
	<select id="detailListByCotegory2" resultType="depositDetailVO" parameterType="depositDetailVO">
		SELECT logDate, SUM(amount) as sumAmount
		 FROM(
		     SELECT date_format(d.log_date, '%m월 %d일') as logDate, 
		            d.amount
		      FROM dw_card_log d LEFT JOIN log_type l
		            ON d.log_type_key = l.key
		      WHERE l.value = #{logTypeKey} AND
		            d.account_number = #{accountNumber} AND
		            EXTRACT(YEAR FROM d.log_date) = EXTRACT(YEAR FROM CURDATE()) AND
		            ( EXTRACT(MONTH FROM d.log_date) = EXTRACT(MONTH FROM CURDATE())  OR EXTRACT(MONTH FROM d.log_date) = MONTH(CURDATE())-1 )
		 )       
		 GROUP BY logDate
		 ORDER BY logDate
	</select>	
	
	
	
	<!-- 이번 달 카테고리별 지출 합 -->
	<select id="categorySum" resultType="depositDetailVO" parameterType="String">
		 SELECT  SUM(amount) as sumAmount, logTypeKey
			 FROM(
			     SELECT date_format(d.log_date, '%Y년 %m월 %d일') as logDate , 
			            d.amount,
	                    l.value as logTypeKey
			      FROM dw_card_log d LEFT JOIN log_type l
	                    ON d.log_type_key = l.key
			      WHERE d.log_type_key != '1' AND
	                    d.log_type_key != '2' AND
			            d.account_number = #{accountNumber} AND
			            EXTRACT(YEAR FROM d.log_date) = EXTRACT(YEAR FROM CURDATE()) AND
			            EXTRACT(MONTH FROM d.log_date) = EXTRACT(MONTH FROM CURDATE())   ) 
			 GROUP BY logTypeKey
	         ORDER BY sumAmount DESC	
	</select>
	
	
	<!-- 정기 메일링 서비스 테이블에 insert -->
	<insert id="addMailService" parameterType="emailVO">
		INSERT INTO mail(id, to_mail, title, content)
		VALUES(#{id}, #{toMail}, #{title}, #{content})
	</insert>
	
	<!-- 정기 메일링 서비스 취소 -->
	<delete id="deleteMailService" parameterType="String">
		DELETE FROM mail
		WHERE id = #{id}
	</delete>
	
	<!-- 정기 메일링 서비스 리스트 -->
	<select id="getMailList" resultType="emailVO">
		SELECT to_mail as toMail, title, content
		 FROM mail
	</select>
	
	<!-- 메일 서비스 구독 여부 -->
	<select id="mailServiceBool" resultType="int" parameterType="String">
		SELECT count(*) 
		 FROM mail 
		 WHERE id = #{id}
	</select>
</mapper>