<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event.dao.EventDAO">

	<resultMap type="eventVO" id="eventMap">
			<result column="event_no" property="eventNo" />
			<result column="event_title" property="eventTitle" />
	  		<result column="reg_date" property="regDate" />
	  		<result column="end_date" property="endDate" />
	</resultMap>

	<select id="pastEventList" resultMap="eventMap" parameterType="eventVO">
		<![CDATA[
		SELECT event_no, event_title, reg_date, end_date
		FROM event
		WHERE end_date < CURDATE()
		]]>
	</select>
	
	<select id="currentEventList" resultMap="eventMap" parameterType="eventVO">
		<![CDATA[
		SELECT event_no, event_title, reg_date, end_date
		FROM event
		WHERE end_date >= CURDATE()
		]]>
	</select>
	
	<insert id="insertNewEvent" parameterType="eventVO">
		INSERT INTO event(event_title, reg_date, end_date)
		VALUES(#{eventTitle}, #{regDate}, #{endDate})
	</insert>
	
	<update id="updateEvent">
		UPDATE event
		SET event_title = #{eventTitle},
			end_date = #{endDate}
		WHERE event_no = #{eventNo}
	</update>
	
	<select id="getEvent" resultMap="eventMap" parameterType="eventVO">
		SELECT event_no, event_title, reg_date, end_date
		FROM event
		WHERE event_no = #{eventNo}
	</select>
	
</mapper>