<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event.dao.LuckyBoxDAO">

	<resultMap type="luckyBoxVO" id="luckyBoxMap">
		<result column="goods_key" property="goodsKey" />
		<result column="event_no" property="eventNo" />
		<result column="amount_remainder" property="amountRemainder" />
	</resultMap>

	<insert id="insertLuckyBox">
		INSERT INTO lucky_box(goods_key, event_no, goods, amount, amount_remainder)
		VALUES(#{goodsKey}, #{eventNo}, #{goods}, #{amount}, #{amount})
	</insert>

	<select id="getLuckyBox" resultMap="luckyBoxMap" parameterType="luckyBoxVO">
		SELECT goods_key, event_no, goods, amount, amount_remainder
		FROM lucky_box
		WHERE event_no = #{eventNo}
	</select>

	<select id="getGoodsKey" resultType="Integer" parameterType="int">
		SELECT goods_key
		FROM lucky_box
		WHERE event_no = #{eventNo} AND amount_remainder > 0
	</select>
	
	<update id="updateLuckyBox" parameterType="luckyBoxVO">
		UPDATE lucky_box
		SET amount_remainder = amount_remainder - 1
		WHERE event_no = #{eventNo} AND goods_key = #{goodsKey}
	</update>
	
	<select id="getGoods" resultType="String" parameterType="luckyBoxVO">
		SELECT goods
		FROM lucky_box
		WHERE event_no = #{eventNo} AND goods_key = #{goodsKey}
	</select>
</mapper>