<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event.dao.EventUserDAO">

	<resultMap type="eventUserVO" id="eventUserMap">
			<result column="event_no" property="eventNo" />
			<result column="lucky_box_key" property="luckyBoxKey" />
	  		<result column="receive_status" property="receiveStatus" />
	  		<result column="receive_date" property="receiveDate" />
	</resultMap>
	
	<select id="eventUserList" resultMap="eventUserMap" parameterType="eventUserVO">
		SELECT no, event_no, id, lucky_box_key, receive_status, receive_date
		FROM lucky_user
	</select>
	
	<insert id="insertLuckyUser" parameterType="eventUserVO">
		INSERT INTO lucky_user(event_no, id, lucky_box_key, receive_status, receive_date)
		VALUES(#{eventNo}, #{id}, #{luckyBoxKey}, #{receiveStatus}, NOW())
	</insert>

	<select id="checkUserDid" resultType="int" parameterType="eventUserVO">
		SELECT 1
		FROM lucky_user
		WHERE event_no = #{eventNo} AND id = #{id}
	</select>
</mapper>