<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="favorite.dao.FavoriteDAO">

	<!-- 이체 목록 -->
	<select id="getRecentList" resultType="favoriteVO" parameterType="String">
		SELECT to_account_number as toAccountNumber, to_name as toName, favorite_flag as favoriteFlag 
			FROM favorite 
			WHERE id = #{id}
	</select>

	<!-- 즐겨찾기 목록에 추가. 이체가 발생하면 그 정보를 즐겨찾기 목록에 추가합니다. -->
	<insert id="addFavorite" parameterType="favoriteVO">
		INSERT INTO favorite(id, to_account_number, to_name)
		 VALUES(#{id}, #{toAccountNumber}, #{toName})
	</insert>
	
	<!-- 즐겨찾기 상태 변경 flag -->
	<update id="updateFavorite" parameterType="favoriteVO">
		UPDATE favorite
		 SET favorite_flag = #{favoriteFlag}
		 WHERE to_account_number = #{toAccountNumber}
	</update>

	<!-- 즐겨찾는 목록 -->
	<select id="getFavoriteList" resultType="favoriteVO" parameterType="String">
		SELECT to_account_number as toAccountNumber, to_name as toName
			FROM favorite 
			WHERE id = #{id} 
			AND favorite_flag = '1'		   
	</select>

</mapper>