<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friend.dao.friendDAO">

	<!-- 친구 테이블 목록에 추가 -->
	<insert id="insertRequest" parameterType="friendVO">
		INSERT INTO friend(id, friend_id, content)
		VALUES(#{id}, #{friendId}, #{content})
	</insert>

	<!-- 내가 보낸 요청 가져오기  -->
	<select id="getRequestList" resultType="friendVO" parameterType="String">
		SELECT f.no, f.id, f.friend_id as friendId, m.name as friendName,f.content, 
		       date_format(f.reg_date, '%Y년 %m월 %d일') as regDate, f.agree_flag as agreeFlag
		 FROM friend f LEFT JOIN member m
		      ON f.friend_id = m.id
		 WHERE f.id = #{id}
	</select>
	
	
	<!-- 내가 받은 요청 가져오기  -->
	<select id="getRequestedList" resultType="friendVO" parameterType="String">
		 SELECT f.no, f.id, f.friend_id as friendId, m.name as friendName, f.content, 
		        date_format(f.reg_date, '%Y년 %m월 %d일') as regDate, f.agree_flag as agreeFlag
		  FROM friend f LEFT JOIN member m
		   ON f.id = m.id
		  WHERE f.friend_id = #{id}
	</select>


	<!-- 친구가 보낸 요청 승인하기 -->
	<update id="agreeRequest" parameterType="friendVO">
		UPDATE friend
		SET agree_flag = #{agreeFlag}
			WHERE id = #{id} AND
				  friend_id = #{friendId}
	</update>
	
	
	<!-- 친구가 보낸 요청 거절하기 -->
	<delete id="disAgreeRequest" parameterType="friendVO">
		DELETE FROM friend
			WHERE id = #{id} AND 
				  friend_id = #{friendId}
	</delete>

	<!-- 내가 보낸 요청 중 승인된 친구 아이디  -->
	<select id="getFriendsIdList1" resultType="String" parameterType="String">
		SELECT friend_id
		 FROM friend
		 WHERE id = #{id} AND
		 	   agree_flag = '1'
	</select>
	
	
	
	<!-- 내가 받은 요청 중 승인한 친구 아이디  -->
	<select id="getFriendsIdList2" resultType="String" parameterType="String">
		SELECT id
		 FROM friend
		 WHERE friend_id = #{id} AND
		       agree_flag = '1'
	</select>
	
	
	<!-- 내가 보낸 요청 중 승인된 친구 이름  -->
	<select id="getFriendsNameList1" resultType="String" parameterType="String">
		SELECT m.name as friendName 
		 FROM friend f LEFT JOIN member m
		      ON f.friend_id = m.id
		 WHERE f.id = #{id} AND
		 	   agree_flag = '1'
	</select>
	
	
	
	<!-- 내가 받은 요청 중 승인한 친구 이름  -->
	<select id="getFriendsNameList2" resultType="String" parameterType="String">
		 SELECT m.name as friendName 
		  FROM friend f LEFT JOIN member m
		   ON f.id = m.id
		  WHERE f.friend_id = #{id} AND
		       agree_flag = '1'
	</select>


	<!-- 도전 초기화 -->
	<delete id="resetChallenge">
		DELETE FROM friend
	</delete>

</mapper>