<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO">

	<resultMap type="memberVO" id="memberMap">
  		<result column="age_group" property="ageGroup" />
  		<result column="reg_date" property="regDate" />
  		<result column="last_visit_date" property="lastVisitDate" />
  		<result column="property_status" property="propertyStatus" />
  		<result column="job_key" property="jobKey" />
  		<result column="kakao_id" property="kakaoId" />
  		<result column="email_key" property="emailKey" />
  	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="memberVO" resultMap="memberMap">
		SELECT m.id, m.name, m.password, m.type, m.phone, m.email, m.address, m.age_group, 
			   m.gender, m.reg_date, m.last_visit_date, m.property_status, m.kakao_id, m. email_key, j.value as job_key, m.cash 
		FROM member m LEFT JOIN job j
			   ON m.job_key = j.key
		WHERE id = #{id} AND password = #{password}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="memberVO">
  		INSERT INTO member(id, name, password, phone, email, address, age_group, gender, property_status, job_key)
  		VALUES(#{id}, #{name}, #{password}, #{phone}, #{email}, #{address}, #{ageGroup}, #{gender}, #{propertyStatus}, #{jobKey})
  	</insert>
  	
  	
  	<!-- 아이디체크 -->
  	<select id="idCheck" parameterType="String" resultType="String">
  		SELECT id
  		 FROM member
  		 WHERE id = #{id}
  	</select>
  	
  	
  	<!-- 현금 업데이트 -->
  	<select id="cashUpdate" parameterType="cashVO">
  		UPDATE member
  		 SET cash = #{cash}
  		 WHERE id = #{id}
  	</select>
  	
  	
  	<!-- 이번달 입출금 계좌 '입금' 총액 -->
  	<select id="depositBalanceThisMonth" resultType="int" parameterType="String">
	  	SELECT SUM(IFNULL(l.amount,0)) 
		 FROM dw_card_log l, member m, dw_account d
		 WHERE m.id = d.id 
		  AND d.account_number = l.account_number
		  AND EXTRACT(MONTH FROM l.log_date) = EXTRACT(MONTH FROM CURDATE()) 
		  AND l.log_type_key = '1'
		  AND m.id = #{id}
  	</select>
  	
  	<!-- 이번달 입출금 계좌 '출금' 총액 -->
  	<select id="withdralBalanceThisMonth" resultType="int" parameterType="String">
	  	SELECT SUM(IFNULL(l.amount,0)) 
		 FROM dw_card_log l, member m, dw_account d
		 WHERE m.id = d.id 
		  AND d.account_number = l.account_number
		  AND EXTRACT(MONTH FROM l.log_date) = EXTRACT(MONTH FROM CURDATE())
		  AND l.log_type_key != '1'
		  AND m.id = #{id}
  	</select>
  	
  	<!-- 이번달 적금 계좌 총액 -->
  	<select id="savingsBalanceThisMonth" resultType="int" parameterType="String">
		SELECT SUM(IFNULL(l.amount,0))
		 FROM savings_account_log l, member m, savings_account s
		 WHERE m.id = s.id
		  AND s.account_number = l.account_number
		  AND EXTRACT(MONTH FROM l.log_date) = EXTRACT(MONTH FROM CURDATE())
		  AND m.id= #{id}
  	</select>
  	
  	<update id="luckyUserUpdate" parameterType="MemberVO">
  		UPDATE member
  		SET
  			name = #{name},
  			phone = #{phone},
  			email = #{email},
  			address = #{address}
  		WHERE
  			id = #{id}
  	</update>
  	
</mapper>

