<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account.dao.SavingsAccountDAO">

	<resultMap type="savingsAccountVO" id="savingsAccountMap">
  		<result column="account_number" property="accountNumber" />
  		<result column="account_password" property="accountPassword" />
  		<result column="bank_book_key" property="bankBookKey" />
  		<result column="nick_name" property="nickName" />
  		<result column="reg_date" property="regDate" />	
  		<result column="saving_day" property="savingDay" />
  		<result column="saving_date" property="savingDate" />
  		<result column="auto_saving" property="autoSaving" />
  		<result column="auto_saving_bool" property="autoSavingBool" />
  	</resultMap>


	<!-- 입출금 계좌 정보 -->
  	<select id="selectById" resultMap="savingsAccountMap" parameterType="String">
  		SELECT  s.account_number, 
  				s.id, 
  				s.account_password, 
  				s.balance, 
  				b.value as bank_book_key, 
  			    s.nick_name, 
  			    date_format(s.reg_date,'%Y년 %m월 %d일(%H시 %i분)') as reg_date,
  			    s.saving_day,
  			    s.saving_date,
                s.auto_saving,
                s.auto_saving_bool,
  			    b.rate
  		 
  		 FROM savings_account s LEFT JOIN saving_bank_book b
  		 		ON s.bank_book_key = b.key
  		 
  		 WHERE id = #{id}
  		 ORDER BY reg_date
  	</select>
  	
  	<!-- 적금 계좌 총 잔액 -->
  	<select id="totalBalanceById" resultType="int" parameterType="String">
  		SELECT sum(balance) 
		 FROM savings_account
		 WHERE id = #{id}
  	</select>
  	<!-- 
  	적금 상품 가입
  	<insert id="insert" parameterType="savingsAccountVO">
  		insert into savings_account(account_number, id, account_password, balance, 
  									bank_book_key, nick_name, saving_day, saving_Date, auto_saving)
  		 					 values(seq_savings_account_number.nextval, #{id}, #{accountPassword}, #{balance}, 
  		 							#{bankBookKey}, #{nickName}, #{savingDay}, to_char(add_months(sysdate, #{savingMonth}), 'YYYY"년 "MM"월 "DD"일"'), #{autoSaving})

  	</insert>
  	 -->
  	<!-- 적금 상품 가입 -->
  	<insert id="insert" parameterType="savingsAccountVO">
  		INSERT INTO savings_account(account_number, id, account_password, balance, 
  			bank_book_key, nick_name, saving_day, saving_Date, auto_saving)
  		VALUES(#{accountNumber}, #{id}, #{accountPassword}, #{balance}, 
  		 	#{bankBookKey}, #{nickName}, #{savingDay}, date_format(DATE_ADD(CURDATE(), INTERVAL #{savingMonth} MONTH), '%Y년 %m월 %d일'), #{autoSaving})

  	</insert>
  	
  	<!-- 해당 적금 계좌 정보 가져오기(상세내역 보기 위함) -->
  	<select id="getInfo" resultMap="savingsAccountMap" parameterType="String">
  		SELECT s.account_number, s.id, s.account_password, s.balance, 
  			   b.value as bank_book_key, b.rate, 
  			   s.nick_name, s.reg_date, s.saving_day, s.saving_date, 
  			   s.auto_saving, s.auto_saving_bool
  		 FROM savings_account s LEFT JOIN saving_bank_book b
  		 		ON s.bank_book_key = b.key
  		 WHERE account_number = #{accountNumber}
  	</select>
  	
  	<!-- 최초 가입 자동이체를 위한 계좌 정보 가져오기 -->
  	<select id="getInfoForTrans" resultType="savingsAccountVO" parameterType="String">
  		SELECT account_number as accountNumber, balance, auto_saving as autoSaving
  		 FROM savings_account
  		 WHERE account_number = #{accountNumber} 
  	</select>
  	
  	<!-- 해당 적금 정보 업데이트 -->
  	<update id="updateInfo" parameterType="savingsAccountVO">
  		UPDATE savings_account
  		 SET nick_name = #{nickName},
  		     saving_day = #{savingDay},
  		     auto_saving = #{autoSaving}
  		 WHERE account_number = #{accountNumber}     
  	</update>
  	
  	<!-- 남으 개월 수 -->
  	<select id="getSavingMonth" parameterType="String" resultType="int">
  		SELECT ROUND(TIMESTAMPDIFF(MONTH, str_to_date(saving_date, '%Y년 %m월 %d일'), CURDATE())) as savingMonth
 		 FROM savings_account
 		 WHERE account_number = #{accountNumber}
  	</select>
  	
  	<!-- 평균 입금액 -->
  	<select id="avgAmount" parameterType="String" resultType="int">
  		SELECT ROUND(AVG(IFNULL(amount, 0))) as avgAmount 
  		 FROM savings_account_log
  		 WHERE account_number = #{accountNumber}
  	</select>
  	
  	<!-- 자동이체 상태 on -->
  	<update id="changeBool" parameterType="savingsAccountVO">
  		UPDATE savings_account
  		 SET auto_saving_bool = #{autoSavingBool}
  		 WHERE account_number = #{accountNumber}
  	</update>
  	
  	<!-- 새로운 계좌 번호 가져오기 -->
  	<select id="getNewAccountNumber" resultType="String">
  		SELECT CONCAT('0015-031-', LPAD(IFNULL(MAX(SUBSTR(account_number, 10)), 0) + 1, 5, 0)) as accountNumber
  		FROM savings_account;
  	</select>
  	
  	<!-- 예약이체 해지  -->
  	<update id="changeAutoTransferBool" parameterType="String">
  		UPDATE savings_account
  		 SET auto_saving_bool = 'N'
  		 WHERE account_number = #{accountNumber}
  		  
  	</update>
  	
</mapper>